# These files are text and should be normalized (convert crlf =&gt; lf)

*.cmd			text	
*.sh			text
*.md			text
*.xml			text
*.project		text
*.gitignore		text
*.classpath		text
*.prefs			text
*.ini			text
*.properties	text
*.asm			text
*.equ			text
*.txt			text
*.java			text
*.c				text
*.h				text
*.ts			text