<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
		<RollingFile name="LogToFile" fileName="logs/debug.log" filePattern="logs/debug_%d{yyyy-MM-dd}_%i.log">
       		<PatternLayout>
            	<pattern>%msg%n</pattern>
        	</PatternLayout>
        	<Policies>
            	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            	<OnStartupTriggeringPolicy/>
        	</Policies>
    	</RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>